<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TodoBuddy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{#ifeq currentPage 'home'}}active{{/ifeq}}" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{#ifeq colorMode 'dark'}}
                        <i class="bi-moon-stars-fill"></i>
                    {{else}}
                        <i class="bi-sun-fill"></i>
                    {{/ifeq}}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/colormode/dark"><i class="bi-moon-stars-fill"></i> Dark</a></li>
                    <li><a class="dropdown-item" href="/colormode/light"><i class="bi-sun-fill"></i> Light</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>